<h1>welcome!</h1>
<%= form_for(:session, url: sessions_path,) do |f| %>


  <%= f.text_field :email, class: "form-control", placeholder: "Email address", autofocus: true %>

  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

 <%= f.submit "Sign up", class: "btn btn-success" %>



  <% end %>
