<h1>Coupons</h1>
<p> Choose a coupon ...</p>

<%= link_to "New", coupons_a_create_path %>
<%= link_to "Edit", coupons_a_edit_path %>
<%= link_to "Update", coupons_a_update_path %>
<%= link_to "Destroy", coupons_a_destroy_path %>




