<h1>List of current users </h1>
<% @users.each do |user| %>
  <p>
    <%= user.email %><br>
    <%= user.password_digest %>
  </p>
<% end %>
<%= link_to "Start Saving!", new_session_path(current_user) %>
